<head>

  {% assign title = page.title | default: site.title | escape %}
  {% assign description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}
  {% assign image = page.image | default: site.author.image %}

  {% if page.name and page.collection == 'projects' %}
    {% assign title = page.name | escape %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Katie Townley Portfolio">
  <meta property="og:description" content="I'm Katie Townley, a Computer Science student specializing in web design and development. View my portfolio and projects here.">
  <meta property="og:image" content="/assets/images/website image.png">

  <title>Katie Townley Portfolio</title>
  <meta name="description" content="I'm Katie Townley, a Computer Science student specializing in web design and development. View my portfolio and projects here.">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Theme style -->
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Load Bulma CSS for responsive layout support -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <!-- Load Inter and Montserrat for fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700&display=swap" rel="stylesheet">

  


</head>
