---
---
@import "portfolYOU";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


.button.icon-button {
  background-color: transparent; 
  border: none;
  box-shadow: none;
  color: #db6676;
  border-radius: 50%;
  padding: 0.5rem;

  &:hover {
    background-color: transparent;
    color: #green;
  }
}




.navbar,
.navbar a[href="/blog/tags"],
.navbar a[href="/blog/"],
.navbar a[href="/about/"],
.navbar a[href="/"],
.navbar a[href="/elements/"],
.navbar a[href="/docs/"],
.navbar a[href="https://github.com/yousinix/portfolYOU"],

.navbar a[href="/404.html"],
.navbar a[href^="/docs/documentation/partials/"],

.navbar a[href="/projects"],
.navbar a[href="/projects/"] {
  display: none !important;
}
