---
---
@import "portfolYOU";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1B3850;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #1B3850 !important;
}



#contact a {
  text-decoration: underline;
}

#contact a:hover {
  color: #FFFBF8 !important; 
}

@media (max-width: 768px) {
  #hero .columns.is-multiline {
    display: flex;
    flex-direction: column;
  }

  #hero .top-text {
    order: 1;
  }

  #hero .column.has-text-centered {
    order: 2;  
  }

  #hero .about-me {
    order: 3;
  }
}



#fade-in-image {
  max-width: 45vw;         
  min-width: 200px;        
  width: 100%;             
  height: auto;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 2s ease;
}

@media (min-width: 1024px) {
  #fade-in-image {
    max-width: 400px;      
  }
}


body,
p,
li,
span,
a {
  color: #1B3850;
}


body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.container,
.section .container,
#hero .container,
#about .container,
#projects .container,
#contact .container {
  max-width: 100% !important;
  padding-left: 0 !important;   
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.section.no-x-padding,
.section.no-x-padding .container,
.container.wide {
  max-width: 100% !important;
  padding-left: 0 !important;   
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}



.no-x-padding {
  padding-left: 0;
  padding-right: 0;
}

.container.wide {
  max-width: none;
  padding-left: 1rem;
  padding-right: 1rem;
}





#hero { 
  background-color: #FFFBF8;
  margin-top: 0 !important;
  padding-top: 2rem !important;
}

#about { 
  background-color: #FFFBF8; 
} 

#projects { 
  background-color: #FAE4DE; 
  padding-bottom: 6rem;
} 

#contact  { 
  background-color: #E7A3A6; 
  padding: 2rem 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
} 

a {
  text-decoration: underline;
}

.button.icon-button,
.navbar a {
  text-decoration: none !important;
}


#hero .container,
#about .container,
#projects .container,
#contact .container {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}



.button.icon-button {
  background-color: transparent; 
  border: none;
  box-shadow: none;
  color: #db6676 !important;
  border-radius: 50%;
  padding: 0.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.button.icon-button:hover {
    background-color: transparent;
    color: #f3a3a0 !important;
    text-decoration: none;
}





.navbar,
.navbar a[href="/blog/tags"],
.navbar a[href="/blog/"],
.navbar a[href="/about/"],
.navbar a[href="/"],
.navbar a[href="/elements/"],
.navbar a[href="/docs/"],
.navbar a[href="https://github.com/yousinix/portfolYOU"],

.navbar a[href="/404.html"],
.navbar a[href^="/docs/documentation/partials/"],

.navbar a[href="/projects"],
.navbar a[href="/projects/"] {
  display: none !important;
}

.padded-content {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
